  {% extends "base.html" %}
{% block title %}Titulo{% endblock %}
{% block contenido %}
<div class="container d-flex justify-content-center">
  <div class="col-md-4 ">
      <h3 class="text-center">Cambio de contraseña de: <span class="text-danger">{{user}}</span></h3> 
    {% for field, errors in form.errors.items() %}
      <div class="alert alert-danger">
        {{ form[field].label }}: {{ ', '.join(errors) }}
      </div>
    {% endfor %}
      <form class="form-horizontal"  method="post">
        <div class="form-group">
          {{ form.csrf_token }}
          {{form.password.label() }}{{form.password(size="100",class="form-control", autofocus="on")}}<br/>
          {{form.submit(class="btn btn-lg btn-primary btn-block")}}
        </div>
    </form>
    <br/>
  </div>
</div>
 	
  
{% endblock %}
