{% extends "base.html" %}
{% block title %}Borrar raspberry{% endblock %}
{% block contenido %}
<div class="container d-flex justify-content-center">
    <div class="col-md-4">
        <h3 class="text-center">Eliminar usuario</h3>
        <br>
        <p class="text-center">¿Estás seguro de borrar el usuario: <span class="text-danger">{{user}}</span>?</p>
        <form class="form-horizontal"  method="post">
            <div class="form-group text-center">
                {{ form.csrf_token }}
                {{form.si(class="btn btn-danger") }}
                {{form.no(class="btn btn-primary")}}<br/><br/>
            </div>
        </form>
    </div>
</div>

{% endblock %}
