{% extends "base.html" %}
{% block title %}Tareas{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-3 pt-md-5 mt-md-4">
        
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="d-flex flex-column mb-4 mt-2 mt-md-0">
                <div class="my-2">
                    <h3 class="form-signin-heading text-center">TAREAS PROGRAMADAS</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    

</script>
{% endblock %}